.item.completed {
    text-decoration: line-through;
  }

  h1 {
      color: firebrick;
  }

  .output {
      background:black;
      color: white;
      box-shadow: 0 0 10px 2px firebrick;

      width: 30%
  }