.item.completed {
    text-decoration: line-through;
  }

  h1 {
      color: firebrick;
  }

  .output {
      background:firebrick;
      color: white;
      width: 30%;
      border-radius: 10px;
  }